/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/* 
  Setting type to a major second modular scale
  http://www.modularscale.com/?1&em&1.125&web&text
*/

html {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  background-color: black;
  color: #cbd1d4;
}

h1 {
  font-size: 3.247em; /* 3.247em * 16em = 51.952px */
  color: white;
  font-family: "lucida console", "arial";
  text-align: center;
  padding: 1.270em 0 0.847em 0; /* 66px = 3 gridlines, 66px / 51.952px = 1.270em
                                   44px = 2 gridlines, 44px / 51.952px = 0.847em */
}

.date {
  font-size: 1.802em; /* 1.802em * 16px = 28.832px */
  padding: 0.382em 0 0.382em 0; /* Padding top & bottom: 0.382em, 11px = 1/2 gridline, 11px / 28.832px = 0.382em */
  font-family: "Helvetica sans serif";
}

ul {
  text-align:center;
}

.post {
  margin-top: 3.5em; 
  background-color: #090f0f;
  border-radius: 1em;
  margin-bottom: 5.5em;
  position: absolute center;
  margin-right: 6.06em;
  margin-left:6.06em;
}

li {
  padding-bottom: 1em;
}

figure {
  display: flex; 
  justify-content: center;
  max-width: 100%;
}

.footer {
  text-align: center;
  color:#6d8383;
  padding-bottom: 1.222em; /* 22px = 1 gridline, 18px / 22px = 1.222em */
}